@model IEnumerable<User>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "User Dashboard";
}


<section class="content-header">
    <h1>
        Application Users
    </h1>

</section>