<header>
    <div class="bg--neutral-0 bg--neutral-100-l relative z9 ">
        <div class="f300 flex flex-column flex-row-l items-center justify-between mw900 mx-auto pa350-l">
            <div class="flex justify-between items-center px350 px0-l py350 py0-l w-100p w-auto-l">
              
                    <img src="~/HomePageTemplate/img/accessgroup-2-e1562166330117.png" alt="Company logo" height="150" width="150">                      
            </div>
            <div class="mobile-contact dn db-l">
                <div class="bg--blue-1100 bg--neutral-100-l flex inline-flex-l flex-column flex-row-l h500-l items-center-l w-100p">
                    <div class="db flex-l">
                        <div class="flex items-center">
                            <span class="dn dib-l fw-bold mr400">Contact</span>
                            <a class="c--text-inverse c--text-l f500 f300-l inline-flex items-center mr400 pa400 pa0-l js-sproutphonenumber">
                              
                                <span class="fw-bold fw-normal-l">+216xxxxxxxx</span>
                            </a>
                        </div>                    
                    </div>

                    <div class="wg-nav__right">
                        <div class="wg-nav__right__button-wrap">
                            <a href="https://localhost:44394/Identity/Account/Login"
                               class="wg-btn wg-nav__right__button wg-nav__right__grey wg-btn--gradient-animation">
                                <span>Log in</span>
                            </a>
                            <a href="https://localhost:44394/Identity/Account/Register"
                               class="wg-btn wg-nav__right__button wg-nav__right__red-main wg-btn--gradient-animation">
                                <span>Register</span>
                            </a>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>