<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Access</title>
    <link rel="shortcut icon" type="x-icon" href="/HomePageTemplate/img/accessgroup-2-e1562166330117.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/HomePageTemplate/css/site.css" rel="stylesheet" />
    <link href="~/HomePageTemplate/css/ampshared.css" rel="stylesheet" />
    <link href="~/HomePageTemplate/css/buttom.css" rel="stylesheet" />
    <link href="~/HomePageTemplate/css/signup.css" rel="stylesheet" />
</head>
<body>
    <header>
        <partial name="_Header" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">


                <a class="navbar-brand" asp-area="" asp-controller="HomePage" asp-action="Index"></a>



            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div>
        <partial name="_Footer" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
